html,body{height: 100%;}
.hakkimizda{width: 80%; padding: 40px; padding-top: 200px; margin:0 auto; display: block;}
.hakkimizda p{font-size: 18px;}
.hakkimizda h1{text-align: center;padding: 20px;}
.menu{margin: 0px !important;}

